@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@300;700&family=Oswald:wght@300;500;600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  font-family: "Oswald", sans-serif;
  background: url("../img/pattern-bg.png");
}
.overflowhidden{
  overflow-y: hidden;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Notification  bar styling */
.notification-bar {
  padding: 16px 0 12.5px 0;
  position: relative;
  background: transparent;
  z-index: 6;
  background: url("../img/pattern-bg.png"),
    linear-gradient(#ffffff 100%, #ffffff 100%);
}
.notification-bar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
}
.notification-bar p {
  font-size: 14px;
  font-weight: 500;
  word-spacing: 0.7px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.notification-bar p a {
  color: #217f40;
  line-height: 1.5;
}
.notification-bar p a:hover {
  text-decoration: none;
}
.notification-bar .close-btn {
  background-color: #217f3f;
  border: none;
  border-radius: 50px;
  align-items: center;
  padding: 6px;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  display: flex;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s all;
}
.notification-bar .close-btn:hover {
  background-color: #0e351a;
}
.notification-bar .close-btn img {
  height: 11px;
  width: 11px;
  background: transparent;
}

/* header styling */
.header {
  position: sticky;
  top: 0;
  z-index: 6;
}
.header .top-nav {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#012b1f 100%, #012b1f 100%);
  padding: 10px 0;
  position: relative;
}
.header .top-nav .container {
  display: flex;
  align-items: center;
}
.header .top-nav .toggle-btn {
  display: none;
  cursor: pointer;
}
.header .top-nav .btns {
  margin-left: auto;
}
.header .top-nav .btns .btn {
  text-decoration: none;
  border: none;
  color: white;
  background: #128336 url("../img/pattern-bg.png");
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 33px;
  display: inline-block;
  transform: skewX(-15deg);
  transition: 0.3s all;
}
.header .top-nav .btns .btn:hover {
  background: #139b3e url("../img/pattern-bg.png");
}
.header .top-nav .btns .btn span {
  display: block;
  transform: skewX(15deg);
}
.header .top-nav .btns .ac-btn {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#07512d 100%, #07512d 100%);
  padding: 9px 44px;
  margin-left: 5px;
}
.header .main-nav {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#07512d 100%, #07512d 100%);
  position: relative;
  box-shadow: 0px 2px 6px 0px #0000006c;
}
.header .main-nav .container {
  display: flex;
  align-items: center;
}
.header .main-nav .nav ul {
  list-style: none;
  display: flex;
}
.header .main-nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 17.5px 29px;
  transform: skewX(-16deg);
  letter-spacing: 0.25px;
  transition: 0.3s all;
}
.header .main-nav a span {
  transform: skewX(16deg);
  display: block;
}
.header .main-nav a.active {
  background: #1b7d3b url("../img/pattern-bg.png");
}
.header .main-nav a:hover {
  background: #1b7d3b url("../img/pattern-bg.png");
}
.header .main-nav .search {
  margin-left: auto;
  background: url("../img/pattern-bg.png"),
    linear-gradient(#012b1f 100%, #012b1f 100%);
  display: flex;
  align-items: center;
}
.header .main-nav .search {
  width: 23%;
  display: flex;
  justify-content: space-between;
}
.header .main-nav .search #search-close {
  display: none;
}
.header .main-nav .search #search-close img{
  height: 17px;
}
.header .main-nav .search input {
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
.header .main-nav #search-close {
  cursor: pointer;
  display: block;
  height: 100%;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .main-nav .search button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-right: 15px;
}
.page-title {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#1b7d3b 100%, #1b7d3b 100%);
  position: relative;
  overflow: hidden;
}
.page-title .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-title h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
  font-size: 50px;
  position: relative;
  top: -0.4px;
  left: -1px;
  letter-spacing: -0.85px;
}
.page-title .pb-logo {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 28px 73px 28px 66px;
  position: relative;
  align-items: center;
  transform: skewX(-15deg);
}
.page-title .pb-logo::after {
  content: "";
  background-color: #ffffff;
  display: inline-block;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100px;
  left: 0;
  top: 0;
}

.page-title .pb-logo p {
  transform: skewX(15deg);
  display: block;
  text-transform: uppercase;
  color: #217f40;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: -6.5px;
  left: -8.5px;
}
.page-title .pb-logo img {
  transform: skewX(15deg);
  display: block;
}
.here-section {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#012b1faf 100%, #012b1fab 100%), url("../img/hero-bg.png");
  background-repeat: repeat, repeat, no-repeat;
  background-position: left, center, center;
  background-size: auto, cover, cover;
  position: relative;
  padding: 21px 0 12px 0;
}
.here-section .slider {
  position: relative;
}
.here-section .slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
}
.here-section .hprev-arrow {
  left: 40px;
}
.here-section .hnext-arrow {
  right: 40px;
}

.here-section .slider .slick-dots {
  position: absolute;
  bottom: 37px;
  width: 100%;
  text-align: center;
}
.here-section .slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}
.here-section .slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 3.5px 10px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #ffffff;
  opacity: 0.3;
  transition: 0.3s all;
}
.here-section .slider .slick-dots li button:hover {
  background: #ffffff;
  opacity: 1;
}
.here-section .slider .slick-dots li.slick-active button {
  background: #ffffff;
  opacity: 1;
}

.here-section .slider .slide-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0;
}
.here-section .slider .slide-item .content-box {
  width: 50%;
  padding: 0px 15px 40px 67px;
}
.here-section .slider .slide-item .content-box .h1 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 33px;
  word-spacing: 4px;
  letter-spacing: -1px;
  line-height: 1;
}
.here-section .slider .slide-item .content-box p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
  word-spacing: -0.1px;
  line-height: 1.45em;
}
.here-section .slider .slide-item .play-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px 26px 26px 40px;
}
.here-section .slider .slide-item .play-box .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 23px 23px 23px 32px;
  background: #012b1f;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s all;
}
.here-section .slider .slide-item .play-box .thumbnail {
  max-width: 80%;
}
.here-section .slider .slide-item .play-box .play-btn:hover {
  background: #024d37;
}
.main-body {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#012b1f 100%, #012b1f 100%);
  color: white;
}
.main-body .container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 79px;
  column-gap: 30px;
}
.main-body .aside {
  min-width: 255px;
}
.main-body .left-side {
  flex: 1;
  width: 70%;
}
.main-body .aside .events-widget {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#1b7d3b 100%, #1b7d3b 100%);
  counter-reset: section;
}
.main-body .aside .events-widget .title {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#07512d 100%, #07512d 100%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  padding: 9px 19px;
}
.main-body .aside .events-widget ul {
  padding: 21px 19px 8px 19px;
}
.main-body .aside .events-widget li {
  list-style: none;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.main-body .aside .events-widget li .numbering {
  color: #1b7d3b;
  background: #ffffff;
  height: 46px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  min-width: 46px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-body .aside .events-widget li .numbering:before {
  counter-increment: section;
  content: counter(section);
}
.main-body .aside .events-widget li .detail {
  padding: 1px 10px 0px 11px;
  overflow: hidden;
}
.main-body .aside .events-widget li .detail h3 {
  line-height: 1.1;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-overflow: ellipsis;
}
.main-body .aside .events-widget li .detail h3::after {
  content: "";
  width: 100%;
  margin: auto;
  background: #ffffff;
  height: 1px;
  display: block;
  position: relative;
  top: 2px;
  transition: 0.3s all;
}
.main-body .aside .events-widget li .detail h3:hover::after {
  width: 0;
}
.main-body .aside .events-widget li .detail p {
  font-size: 16px;
  position: relative;
  top: 7px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.main-body .left-side .product-slider .slide-arrow {
  position: absolute;
  top: 35%;
}
.main-body .left-side .product-slider .slide-arrow img {
  height: 25px;
  width: auto;
}
.main-body .left-side .product-slider .prev-arrow {
  left: 4px;
  cursor: pointer;
}
.main-body .left-side .product-slider .next-arrow {
  right: 4px;
  cursor: pointer;
}
.main-body .left-side .product-slider .slick-dots {
  width: 100%;
  text-align: center;
  top: 18px;
  position: relative;
}
.main-body .left-side .product-slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}
.main-body .left-side .product-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 2.5px 8px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #ffffff;
  opacity: 0.3;
  transition: 0.3s all;
}
.main-body .left-side .product-slider .slick-dots li button:hover {
  background: #ffffff;
  opacity: 1;
}
.main-body .left-side .product-slider .slick-dots li.slick-active button {
  background: #ffffff;
  opacity: 1;
}
.main-body .left-side .product-slider .product-item {
  width: 100%;
  height: 100%;
  border: 7px solid rgba(255, 255, 255, 0.068);
  margin: 0 15px;
}
.main-body .left-side .product-slider {
  padding: 0 40px;
  margin-bottom: 56px;
}
.main-body .left-side .divider {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.5;
  margin-bottom: 40px;
}
.main-body .left-side .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 29px;
  margin-bottom: 40px;
}
.main-body .left-side .posts .post {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#1b7d3b 100%, #1b7d3b 100%);
  color: white;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main-body .left-side .posts .post .thumbnail {
  width: 100%;
  min-height: 165px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.main-body .left-side .posts .post .thumbnail img {
  width: 100%;
  object-fit: cover;
}
.main-body .left-side .posts .post .content {
  padding: 13px 11px;
  margin-bottom: 11px;
}
.main-body .left-side .posts .post .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
.main-body .left-side .posts .post .paragraph {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 9px;
  line-height: 1.3;
}
.main-body .left-side .posts .post .readmore-btn {
  font-size: 20px;
  font-weight: 500;
  background: #07512d url("../img/pattern-bg.png");
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  transition: 0.3s all;
  padding: 10px 0px;
  margin: 0 auto;
}
.main-body .left-side .posts .post .readmore-btn:hover {
  background: #064426 url("../img/pattern-bg.png");
}
.main-body .left-side .zigzag-section {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#2b8b4b 100%, #2b8b4b 100%);
  display: flex;
  flex-direction: row;
}
.main-body .left-side .zigzag-section .thumbnail {
  height: 238px;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 87% 100%, 0 100%);
}
.main-body .left-side .zigzag-section .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-body .left-side .zigzag-section:nth-child(odd) {
  flex-direction: row-reverse;
  background: url("../img/pattern-bg.png"),
    linear-gradient(#07512d 100%, #07512d 100%);
}
.main-body .left-side .zigzag-section:nth-child(odd) .thumbnail {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 13% 100%);
}
.main-body .left-side .zigzag-section:nth-child(odd) .rs-content {
  display: flex;
  width: 61%;
  flex-direction: column;
  align-items: center;
  padding: 13px 45px 15px 31px;
  justify-content: center;
  color: #ffffff;
}
.main-body .left-side .zigzag-section .rs-content {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  padding: 13px 45px 15px 29px;
  justify-content: center;
  color: #ffffff;
}
.main-body .left-side .zigzag-section .rs-content .title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 8px;
  letter-spacing: -0.2px;
}
.main-body .left-side .zigzag-section .rs-content .desc {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.contact-form {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#07512d 100%, #07512d 100%);
  padding: 31px 0 39px 0;
}
.contact-form .container {
  max-width: 570px;
}
.contact-form h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
}
.contact-form .form-inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
}
.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
.contact-form .form-group label {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
}
.contact-form .form-group input {
  color: #222222;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.contact-form .form-group.ml {
  margin-left: 15px;
}

.contact-form .form-group select {
  color: #222222;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  outline: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  appearance: none;
  background-image: url("../img/dropdown-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.contact-form .form-group select option{
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  display: block;
}
.contact-form .form-group .radio-inputs {
  margin-top: 7px;
  display: block;
}
.contact-form .form-group .radio-inputs label {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-right: 9px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  left: 1px;
  font-family: "Roboto", sans-serif;
}
.contact-form .form-group .radio-inputs input[type="radio"] {
  cursor: pointer;
  appearance: none;
  background: #ffffff;
  vertical-align: text-top;
  margin-right: 3px;
  height: 22px;
  width: 22px;
  padding: 0;
  display: inline-block;
  border-radius: 50px;
}
.contact-form .form-group .radio-inputs input[type="radio"]:checked {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#07512d 100%, #07512d 100%);
  border: 3px solid #ffffff;
}
.contact-form .form-group textarea {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 11px;
  display: block;
  outline: none;
  resize: vertical;
  width: auto;
  border: none;
  height: 87px;
}
.contact-form .submit-btn {
  margin: 0 auto;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 8px 60px;
  margin-top: 20px;
  text-transform: uppercase;
  background: #012b1f url("../img/pattern-bg.png");
  font-family: "Oswald", sans-serif;
  transition: 0.3s all;
}
.contact-form .submit-btn:hover {
  background: #012017 url("../img/pattern-bg.png");
}
.footer {
  background: url("../img/pattern-bg.png"),
    linear-gradient(#012b1f 100%, #012b1f 100%);
  padding: 35px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 7px;
  position: relative;
}
.footer .footer-nav .nav-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
  position: relative;
  display: block;
  line-height: 1;
  transition: 0.3s all;
}
.footer .footer-nav li {
  position: relative;
}
.footer .footer-nav .nav-link:hover {
  text-decoration: underline;
}
.footer .footer-nav li:not(:last-child)::before {
  content: "";
  height: 100%;
  width: 2px;
  background: #ffffff;
  display: inline;
  transform: skew(-15deg);
  position: absolute;
  right: 0px;
}

.footer .social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 7px;
}
.footer .social-icons .nav-link {
  padding: 10px 10px 10px 11px;
  display: block;
  transition: 0.2s all;
}
.footer .social-icons .nav-link:hover {
  opacity: 0.6;
}
.footer .copyright {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  word-spacing: 0.4px;
}
@media (max-width: 1023px) {
  .notification-bar {
    padding: 15.5px 0 13px 0;
    position: relative;
    background: transparent;
    z-index: 6;
    background: url("../img/pattern-bg.png"),
      linear-gradient(#ffffff 100%, #ffffff 100%);
  }
  .notification-bar .close-btn {
    padding: 6px;
    right: 15px;
  }
  .header .top-nav .brand-logo img {
    height: 33px;
  }
  .header .top-nav .btns .ac-btn {
    margin-left: 6px;
  }
  .header .main-nav {
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.151);
  }
  .header .main-nav a {
    padding: 18.5px 19.5px;
    font-size: 16px;
    letter-spacing: 0.1px;
  }
  .header .main-nav .search input {
    padding: 8px 0 8px 16px;
    font-size: 16px;
    font-weight: 600;
  }
  .header .main-nav .search {
    width: 27%;
    display: flex;
    justify-content: space-between;
  }
  .header .main-nav .search button {
    padding-right: 14px;
  }
  .header .main-nav .search button img {
    height: 20px;
  }
  .page-title h1 {
    font-size: 40px;
    letter-spacing: -0.6px;
    position: relative;
    top: -1px;
    left: -2px;
  }
  .page-title .pb-logo {
    padding: 18.5px 61px 18.5px 66px;
    position: relative;
    left: 3px;
    top: 2px;
    transform: skewX(-19deg);
  }
  .page-title .pb-logo p {
    font-size: 14px;
    transform: skewX(19deg);
    top: -8px;
    font-weight: 600;
    letter-spacing: 0.1px;
    left: -12px;
  }
  .page-title .pb-logo img {
    height: 25px;
    transform: skewX(19deg);
  }
  .here-section .slide-arrow {
    display: none;
  }
  .here-section .slider .slide-item {
    padding: 34px 0 72px 0;
  }
  .here-section .slider .slide-item .content-box {
    width: 50%;
    padding: 0px 10px 0px 0px;
  }
  .here-section .slider .slide-item .play-box .thumbnail {
    max-width: 67%;
  }
  .here-section .slider .slide-item .content-box .h1 {
    font-size: 40px;
    letter-spacing: -0.3px;
    word-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  .here-section .slider .slide-item .content-box p {
    font-size: 18px;
    font-weight: 300;
  }
  .here-section .slider .slide-item .play-box .play-btn img {
    width: 30px;
  }
  .here-section .slider .slide-item .play-box {
    padding: 8px 35px 26px 40px;
  }
  .here-section .slider .slick-dots {
    bottom: 27px;
  }
  .here-section .slider .slick-dots li button {
    padding: 3.5px 9px;
  }
  .main-body .container {
    padding-top: 60px;
    padding-bottom: 60px;
    column-gap: 48px;
  }
  .main-body .left-side {
    width: 60%;
  }
  .main-body .aside .events-widget .title {
    font-size: 20px;
  }
  .main-body .aside .events-widget ul li {
    margin-bottom: 20px;
  }
  .main-body .aside .events-widget li .detail h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .main-body .aside .events-widget li .detail p {
    font-size: 16px;
    top: 7px;
  }
  .main-body .left-side .posts {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    grid-gap: 30px;
  }
  .main-body .left-side .posts .post .thumbnail {
    width: 100%;
    height: 166px;
  }
  .main-body .left-side .posts .post .thumbnail img {
    width: 100%;
    height: 100%;
  }
  .main-body .left-side .posts .post .content {
    margin-bottom: 29px;
  }
  .main-body .left-side .posts .post .title {
    font-size: 20px;
  }
  .main-body .left-side .posts .post .paragraph {
    font-size: 14px;
  }
  .main-body .left-side .posts .post .readmore-btn {
    font-size: 20px;
    padding: 9px;
  }
  .main-body .left-side .product-slider .slick-dots li button {
    padding: 2.5px 7px;
  }
  .main-body .left-side .product-slider .slick-dots {
    top: 24px;
  }
  .main-body .left-side .product-slider {
    margin-bottom: 62px;
    padding: 0;
  }
  .main-body .left-side .divider {
    margin-bottom: 39px;
  }
  .main-body .left-side .zigzag-section .thumbnail {
    min-height: 202px;
    width: 71%;
    clip-path: polygon(0 0, 100% 0%, 81% 100%, 0 100%);
  }
  .main-body .left-side .zigzag-section .thumbnail img {
    height: 100%;
  }
  .main-body .left-side .zigzag-section:nth-child(odd) .thumbnail {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
  }
  .main-body .left-side .zigzag-section .rs-content {
    padding: 14px 50px 15px 29px;
  }
  .main-body .left-side .zigzag-section .rs-content .title {
    font-size: 20px;
    letter-spacing: -0.2px;
  }
  .main-body .left-side .zigzag-section .rs-content .desc {
    font-size: 14px;
    line-height: 1.3;
  }

}
@media (max-width: 767px) {
  .notification-bar .container{
    padding: 0 35px 0 15px;
  }
  .notification-bar p {
    font-size: 12px;
    text-align: left;
    line-height: 1.8;
  }
  .notification-bar p a {
    line-height: 1.9;
  }
  .header .top-nav .container {
    flex-direction: column;
    padding: 0;
  }
  .header .top-nav .brand-logo img {
    height: 22px;
  }
  .header .top-nav .left-side {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 19px 14px 15px 14px;
  }
  .header .top-nav .toggle-btn {
    display: block;
    margin-left: auto;
  }
  .header .top-nav {
    padding: 0;
  }
  .header .top-nav .btns {
    box-shadow: 0px 2px 6px 0px #0000006c;
    z-index: 7;
    background-color: #ffffff;
    display: flex;
    width: 100%;
  }
  .header .top-nav .btns .btn {
    transform: skewX(0deg);
    text-align: center;
    width: 100%;
    padding: 9px 10px;
  }
  .header .top-nav .btns .ac-btn {
    margin-left: 1px;
  }
  .header .top-nav .btns .btn span {
    transform: skewX(0deg);
  }
  .header .main-nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s all;
  }
  .header .main-nav.active {
    height: 100vmax;
    overflow: auto;
  }
  .header .main-nav .container {
    flex-direction: column-reverse;
    justify-content: left;
    align-items: flex-start;
    padding-top: 10px;
  }
  .header .main-nav .search {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .header .main-nav .search input {
    padding: 8px 0 8px 10px;
  }
  .header .main-nav .search button {
    padding-right: 10px;
  }
  .header .main-nav .nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .main-nav li {
    margin-bottom: -2px;
  }
  .header .main-nav a {
    transform: skewX(0deg);
    padding: 19px 26px 20px 20px;
    clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
  }
  .header .main-nav a span {
    transform: skewX(0deg);
  }
  .page-title {
    display: none;
  }
  .here-section .slider {
    padding: 0;
    padding-bottom: 80px;
  }
  .here-section .slider .slide-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
  }
  .here-section .slider .slide-item .content-box {
    width: 100%;
    padding: 0px;
  }
  .here-section .slider .slide-item .play-box .thumbnail {
    max-width: 60%;
  }
  .here-section .slider .slide-item .play-box {
    width: 100%;
    padding: 7px;
    margin-bottom: 18px;
  }
  .here-section .slider .slide-item .play-box .play-btn {
    padding: 11px 11px 11px 19px;
  }
  .here-section .slider .slide-item .content-box .h1 {
    font-size: 30px;
    letter-spacing: -0.3px;
    word-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 13px;
  }
  .here-section .slider .slide-item .content-box p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.4;
  }
  .here-section .slider .slick-dots {
    bottom: 38px;
  }
  .main-body .container {
    padding-top: 40px;
    padding-bottom: 52px;
    column-gap: 0;
    row-gap: 50px;
    flex-direction: column;
  }
  .main-body .left-side {
    width: 100%;
  }
  .main-body .left-side .product-slider {
    padding: 0px;
    margin-bottom: 43px;
  }
  .main-body .left-side .product-slider .slick-dots {
    top: 14px;
  }
  .main-body .left-side .divider {
    margin-bottom: 30px;
  }
  .main-body .left-side .posts {
    margin-bottom: 31px;
    grid-gap: 21px;
  }
  .main-body .left-side .posts .post .content {
    margin-bottom: 10px;
  }
  .main-body .left-side .posts .post .title {
    font-size: 20px;
    letter-spacing: -0.1px;
    padding-right: 30px;
  }
  .main-body .left-side .posts .post .readmore-btn {
    font-size: 20px;
    padding: 9px;
  }
  .main-body .aside {
    width: 100%;
  }
  .main-body .aside .events-widget li .detail h3::after {
    top: 0px;
  }
  .main-body .aside .events-widget li .detail p {
    top: 6px;
  }
  .contact-form {
    padding: 31px 0 40px 0;
  }
  .contact-form .container {
    max-width: 100%;
  }
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .contact-form .form-inline {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    width: 100%;
  }
  .contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
  }
  .contact-form .form-group input {
    color: #222222;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: "Roboto", sans-serif;
  }
  .contact-form .form-group select {
    padding: 10px 9px 9px 9px;
  }
  .contact-form .form-group .radio-inputs {
    margin-top: 10px;
    display: block;
    margin-bottom: -2px;
  }
  .contact-form .form-group .radio-inputs label {
    margin-right: 8px;
    vertical-align: top;
  }
  .contact-form .form-group .radio-inputs input[type="radio"] {
    margin-right: 4px;
    height: 22px;
    width: 22px;
  }
  .contact-form .form-group textarea {
    height: 86px;
  }
  .contact-form .submit-btn {
    padding: 7px 60px;
  }
  .footer {
    padding: 35px 0;
  }
  .footer .footer-nav li {
    margin-bottom: 7px;
  }
  .footer .footer-nav {
    margin-bottom: 0px;
  }
  .footer .social-icons {
    margin-bottom: 7px;
  }
  .footer .social-icons .nav-link {
    padding: 10px 10px 10px 11px;
  }
  .main-body .left-side .posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-body .left-side .zigzag-section {
    flex-direction: column;
  }
  .main-body .left-side .zigzag-section .thumbnail {
    width: 100%;
    clip-path: none;
    height: 202px;
  }
  .main-body .left-side .zigzag-section:nth-child(odd) {
    flex-direction: column;
  }
  .main-body .left-side .zigzag-section:nth-child(odd) .thumbnail {
    width: 100%;
    clip-path: none;
    height: 200px;
  }
  .main-body .left-side .zigzag-section:nth-child(odd) .rs-content {
    width: 100%;
    padding: 14px 16px 16px 11px;
  }
  .main-body .left-side .zigzag-section .rs-content {
    width: 100%;
    padding: 15px 16px 15px 11px;
  }
}
@media (max-width:525px){
  .main-body .left-side .product-slider .product-item {
    margin: 0px;
  }
}