* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.post-section {
  background-color: #012c1f;
  background-image: url(../img/pattern-bg.png);
}

.posts {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: -15px;
}

.post{
    width: calc(33.33% - 30px);
    margin: 15px;
}

.post .post-thumbnail {
  position: relative;
  padding-bottom: 63%;
}

.post .post-thumbnail a > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .post-text {
  color: #fff;
  background-image: url(../img/pattern-bg.png);
  background-color: #278245;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 17px 10px 24px 10px;
}

.post .post-text .post-head a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  vertical-align: bottom;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

.post .post-text .post-desc {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 9px;
}

.post .rm-btn button{
  width: 100%;
  padding: 11px 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-image: url(../img/pattern-bg.png);
  background-color: rgba(18, 87, 53, 1);
  color: #fff;
  transition: 0.3s linear;
  text-transform: uppercase;
}
