/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
body {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

/* search field cross btn  */
input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: -10px;
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background: url(../img/x-mark.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.8;
}
input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 0.5;
}

.tooltip {
  position: absolute;
  right: 5px;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Change Autocomplete styles in Chrome*/
.search-box input:-webkit-autofill,
.search-box input:-webkit-autofill:hover,
.search-box input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

.contact-form input:-webkit-autofill,
.contact-form input:-webkit-autofill:hover,
.contact-form input:-webkit-autofill:focus,
.contact-form textarea:-webkit-autofill,
.contact-form textarea:-webkit-autofill:hover,
.contact-form textarea:-webkit-autofill:focus,
.contact-form select:-webkit-autofill,
.contact-form select:-webkit-autofill:hover,
.contact-form select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #000;
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
} */

.hide {
  display: none !important;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.overflow {
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

/***** notification-bar css *****/
.notification-bar {
  background-color: #fff;
  background-image: url(../img/pattern-bg.png);
  position: relative;
}

.notification-bar .container {
  padding-top: 16px;
  padding-bottom: 12px;
}

.notification-bar .noti-text {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.notification-bar .noti-text p {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.notification-bar .noti-text p a {
  font-family: "Roboto", sans-serif;
  color: rgba(44, 131, 73, 1);
}

.notification-bar .noti-text p a:hover {
  text-decoration: none;
}

.notification-bar .cn-button {
  border: none;
  background-color: rgba(44, 131, 73, 1);
  background-image: url(../img/pattern-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: auto;
  transition: 0.3s linear;
}

.notification-bar .cn-button img {
  padding: 7px 6px 6px 7px;
}

.notification-bar .cn-button:hover {
  opacity: 0.8;
}

/***** logo-bar css *****/
.logo-bar {
  background-color: #012c1f;
  background-image: url(../img/pattern-bg.png);
}

.logo-bar .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-bar .header-buttons {
  margin-left: auto;
  font-size: 0;
  display: flex;
}

.logo-bar .brand-logo img {
  /* vertical-align: bottom; */
  display: block;
}

.logo-bar .header-buttons a {
  background-image: url(../img/pattern-bg.png);
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 11px 20px;
  min-width: 150px;
  transition: 0.3s linear;
  cursor: pointer;
  transform: skewX(-15deg);
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
}

.logo-bar .header-buttons a:nth-child(even) {
  background-color: rgba(33, 127, 64, 1);
}

.logo-bar .header-buttons a:nth-child(odd) {
  background-color: rgba(8, 81, 45, 1);
}

.logo-bar .header-buttons a:nth-child(even):hover {
  background-color: rgb(38, 158, 78);
}

.logo-bar .header-buttons a:nth-child(odd):hover {
  background-color: rgb(7, 100, 54);
}

.logo-bar .header-buttons a span {
  transform: skewX(15deg);
  display: block;
}

.logo-bar .header-buttons .active:hover {
  background-color: rgba(8, 81, 45, 0.3);
}

/* nav-bar css starts  */
.nav-bar-section {
  background-color: #08512d;
  background-image: url(../img/pattern-bg.png);
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.nav-bar-section .container {
  display: flex;
  align-items: center;
}

.nav-bar-section ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav-bar-section ul li {
  padding: 21px 30px 21px 32px;
  cursor: pointer;
  transition: 0.3s linear;
  transform: skew(-15deg);
}

.nav-bar-section ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  transform: skew(15deg);
  display: block;
}

.nav-bar-section ul li.active {
  background-color: rgba(27, 125, 59, 1);
  background-image: url(../img/pattern-bg.png);
}
.nav-bar-section ul li:hover {
  background-color: rgba(27, 125, 59, 1);
  background-image: url(../img/pattern-bg.png);
}

.nav-bar-section .search-box {
  background-color: #012c1f;
  background-image: url(../img/pattern-bg.png);
  margin-left: auto;
  display: flex;
  width: 100%;
  max-width: 255px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  position: relative;
}

.nav-bar-section .search-box input {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 16px 0px 16px;
  width: 100%;
  height: 40px;
  outline: none;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.nav-bar-section .search-box input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.nav-bar-section .search-box input[type="submit"] {
  background: url(../img/search-icon.png);
  max-width: 44px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  display: block;
  cursor: pointer;
  transition: 0.3s all;
}

.nav-bar-section .search-box input[type="submit"]:hover {
  opacity: 0.7;
}

/***** Below btn display on mobile view *****/
.below-btns {
  display: none;
}

.below-btns a {
  box-shadow: 0px 2px 2.5px rgb(0 0 0 / 25%);
  color: #fff;
  text-align: center;
  display: block;
  text-decoration: none;
  background-image: url(../img/pattern-bg.png);
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 11px 33px;
  width: 100%;
  text-transform: uppercase;
  transition: 0.3s linear;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

.below-btns a:nth-child(even) {
  background-color: rgba(45, 132, 73, 1);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.below-btns a:last-child {
  background-color: rgba(45, 132, 73, 1);
  border-right: none;
}

.below-btns a:nth-child(odd) {
  background-color: rgba(33, 94, 52, 1);
}

.below-btns a:nth-child(even):hover {
  background-color: rgb(27, 148, 65);
}

.below-btns a:nth-child(odd):hover {
  background-color: rgb(15, 124, 50);
}

/***** burger and cross btn for mobile view *****/
.logo-bar .navbar-toggler-icon {
  margin-left: auto;
  background: none;
  border: none;
  display: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.logo-bar .navbar-toggler-icon:hover {
  opacity: 0.7;
}

/***** page-title css *****/
.page-title-sec {
  background-color: #1b7d3b;
  background-image: url(../img/pattern-bg.png);
  overflow: hidden;
}

.page-title-sec .container {
  display: flex;
  justify-content: space-between;
}

.page-title-sec .page-title {
  display: flex;
  align-self: center;
}

.page-title-sec .page-title span {
  font-weight: 500;
  font-size: 50px;
  line-height: 54px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;
  letter-spacing: -0.9px;
  margin-left: -2px;
}

.page-title-sec .reebok-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-image: url(../img/pattern-bg.png);
  position: relative;
  width: 100%;
  max-width: 335px;
  transform: skew(-15deg);
  padding: 27px;
}

.page-title-sec .reebok-logo img {
  transform: skew(15deg);
  margin-top: 3px;
  margin-left: -10px;
}

.page-title-sec .reebok-logo span {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #217f40;
  transform: skew(15deg);
  margin-left: -27px;
  letter-spacing: 0.3px;
  position: relative;
  top: -3px;
  left: 1px;
}

.page-title-sec .reebok-logo::after {
  content: "";
  position: absolute;
  height: 125%;
  width: 100vw;
  left: 99%;
  background-color: #f8f8f8;
  background-image: url(../images/pattern-bg.png);
}

/* hero slider css starts  */
.hero-slider {
  background-image: url(../img/pattern-bg.png),
    linear-gradient(#07200fb2, #082211a4), url("../img/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-slider .arrows {
  transition: 0.3s linear;
  cursor: pointer;

  z-index: 20;
}

.hero-slider .arrows .left-arrow img {
  display: block;
}

.hero-slider .arrows .left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.hero-slider .arrows .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.hero-slider .arrows .right-arrow img {
  display: block;
}

.hero-slider .arrows:hover {
  opacity: 0.7;
}

.hero-slider .main-slider-1 {
  padding: 70px 65px 70px 65px;
  min-height: 548px;
}

.hero-slider .main-slider-1 .slide {
  display: flex;
}

.hero-slider .main-slider-1 .text {
  max-width: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 20px;
}

.hero-slider .main-slider-1 .text h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.hero-slider .main-slider-1 .text p {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.019em;
  margin-left: 3px;
  margin-top: 32px;
}

.hero-slider .main-slider-1 .video-box {
  max-width: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 21px 15px 20px 97px;
}

.hero-slider .main-slider-1 .video-box .play-btn:hover {
  opacity: 0.7;
}

.hero-slider .main-slider-1 .video-box .play-btn {
  position: absolute;
  border-radius: 50%;
  border: none;
  padding: 22px 25px 22px 28px;
  background: rgba(3, 46, 18, 0.64);
  background-image: url(../img/pattern-bg.png);
  z-index: 1;
  cursor: pointer;
  transition: 0.3s linear;
  padding: 22px 22px 24px 30px;
}

.slick-dots {
  left: 0;
}

.hero-slider .main-slider-1 .slick-dots li {
  height: 7px;
  overflow: hidden;
}

.hero-slider .main-slider-1 .slick-dots li button {
  background: rgb(161, 161, 161);
  transition: 0.3s linear;
}

.hero-slider .main-slider-1 .slick-dots li.slick-active button {
  cursor: auto;
  background: rgba(255, 255, 255, 1);
}

.hero-slider .main-slider-1 .slick-dots button:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* hero slider css ends  */

/* main-section css starts  */
.main-section {
  background-color: #012c1f;
  background-image: url(../img/pattern-bg.png);
}

.main-section .container {
  display: flex;
  padding-top: 82px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.main-section .left-part {
  width: calc(100% - 283px);
  margin-right: 28px;
}

.main-section .side-bar {
  width: 255px;
  min-width: 255px;
}

/* cards css starts */
.cards {
  margin-top: 40px;
}

.cards .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  grid-gap: 30px;
  align-items: stretch;
}

.post-thumbnail {
  position: relative;
  padding-bottom: 63%;
}

.post-thumbnail a > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .row .post {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards .text {
  color: #fff;
  background-image: url(../img/pattern-bg.png);
  background-color: #278245;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 17px 10px 24px 10px;
}

.cards .text .heading a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  vertical-align: bottom;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

.cards .text .heading a:hover {
  color: #ceddd9;
}

.cards .text .desc {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 9px;
}

.cards button {
  width: 100%;
  padding: 11px 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  background-image: url(../img/pattern-bg.png);
  background-color: rgba(18, 87, 53, 1);
  color: #fff;
  transition: 0.3s linear;
}

.cards button:hover {
  background-color: rgba(18, 87, 53, 0.1);
}

/* cards css ends */

/* zigzag starts  */
.zigzag-wrapper {
  margin-top: 40px;
}

.zigzag:nth-child(2n + 1) {
  display: flex;
  background: #2b8b4b;
  background-image: url(../img/pattern-bg.png);
}

.zigzag:nth-child(2n + 1) .image {
  min-height: 238px;
  background-position: center;
  background-size: cover;
  width: 60%;
  clip-path: polygon(0px 0%, 100% 0%, calc(100% - 65px) 100%, 0% 100%);
}

.zigzag:nth-child(2n) {
  display: flex;
  background: #05572e;

  background-image: url(../img/pattern-bg.png);
  flex-direction: row-reverse;
}

.zigzag:nth-child(2n) .image {
  min-height: 238px;
  background-position: center;
  background-size: cover;
  width: 60%;
  clip-path: polygon(0px 0%, 100% 0%, calc(100% - 0px) 100%, 13% 100%);
}

.zigzag .content {
  width: 40%;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 13px 47px 15px 29px;
  justify-content: center;
}

.zigzag .content .heading a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s all;
  text-decoration: none;
  vertical-align: bottom;
}

.zigzag .content .heading a:hover {
  color: #ceddd9;
}

.zigzag .content .desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
/* zigzag ends  */

/* main section css ends  */

/* side bar css starts  */
.side-bar .events {
  background: #2a8347;
  background-image: url(../img/pattern-bg.png);
  color: #fff;
  text-transform: uppercase;
  counter-reset: section;
}

.side-bar .main-title h2 {
  margin: 0;
  padding: 10px 20px;
  background: #05572e;
  background-image: url(../img/pattern-bg.png);
  padding: 11px 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.side-bar .event-list {
  padding: 20px 10px 25px 19px;
}

.side-bar .event-list .event {
  display: flex;
  flex-direction: row;
}

.side-bar .event-list .event:not(:first-child) {
  margin-top: 14px;
}

.side-bar .event-list .event .text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding-left: 10px;
}

.side-bar .event-list .event .title {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.side-bar .event-list .event .title a {
  text-underline-offset: 0.1em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
  letter-spacing: 0.3px;
}

.side-bar .event-list .event .title a:hover {
  text-decoration: none;
}

.side-bar .event-list .event .country {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  margin: 0;
  margin-top: 4px;
}

.counter {
  min-width: 48px;
  height: 46px;
  min-height: 46px;
  background: #fff;
  color: #05572e;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.counter::before {
  counter-increment: section;
  content: " " counter(section);
}
/* side bar css ends  */

/* contact form css starts  */
.contact-form {
  background-color: #08512d;
  background-image: url(../img/pattern-bg.png);
  padding-top: 33px;
  padding-bottom: 39px;
}
.contact-form h2 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
}

.contact-form .form {
  width: 540px;
  margin: 0 auto;
  margin-top: 19px;
}

.contact-form .form label {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.contact-form .form-inline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact-form .form-inline:not(:first-child) {
  margin-top: 15px;
}

.mt {
  margin-top: 14px;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form .form-group input {
  height: 36px;
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: gray;
  border: none;
  outline: none;
  background: #fff;
  margin-top: 6px;
  padding: 0px 10px;
}

.contact-form .form-group select {
  height: 36px;
  margin-top: 5px;
  padding: 0px 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: gray;
  border: none;
  outline: none;
  background: #fff;
  text-transform: uppercase;

  appearance: none;
  background-image: url(../img/dropdown-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 11px;
  position: relative;
}

.contact-form .gender-sec {
  margin-top: 15px;
}

.contact-form .gender-sec .radio-btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
}

.radio > input {
  display: none;
}

.contact-form .radio > input + label {
  position: relative;
  padding-left: 28px;
  padding-right: 15px;
}

.contact-form .radio > input + label::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.contact-form .radio > input:checked + label::before {
  background-color: #1d7d3c;
  cursor: auto;
}

.contact-form .radio > label {
  font-family: "Roboto";
  text-transform: capitalize;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400 !important;
}

.contact-form textarea {
  padding: 6px 10px;
  border: none;
  outline: none;
  resize: vertical;
  margin-top: 5px;
  font-family: "Roboto";
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.contact-form .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-form .submit-btn button {
  color: #fff;
  background: rgba(0, 59, 35, 1);
  background-image: url(../img/pattern-bg.png);
  padding: 6px 60px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  margin-top: 21px;
  transition: 0.3s;
}

.contact-form .submit-btn button:hover {
  background: rgba(21, 59, 48, 0.8);
  background-image: url(../img/pattern-bg.png);
}

/* contact form css ends  */

/* footer starts */
.footer {
  background-color: #093225;
  background-image: url(../img/pattern-bg.png);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0; */
  color: #fff;
}

.footer .container{
  padding-left: 25px;
  padding-right: 25px;
}

.footer .footer-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .footer-nav li {
  list-style: none;
}

.footer .footer-nav li:not(:last-child):after {
  content: "/";
  font-weight: bold;
}

.footer .footer-nav li a {
  margin: 11px;

  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.footer .footer-nav li a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.footer .social-icons {
  display: flex;
  position: relative;
  left: 3px;
  padding-left: 0;
  transition: 1.3s;
  margin-top: 17px;
  justify-content: center;
}

.footer .social-icons li:hover {
  opacity: 0.7;
}

.footer .social-icons li {
  list-style-type: none;
  padding: 0% 10px;
  transition: 0.3s all;
}

.footer .social-icons li:nth-child(2) {
  margin-top: -2px;
}

.footer .social-icons li:nth-child(4) {
  margin-top: -3px;
}

.footer .copyright {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300 !important;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  left: 1px;
  margin-top: 9px;
  letter-spacing: -0.2px;
}
/* footer ends */

/* mini slider css starts  */

.owl-carousel-2 {
  padding: 0px 33px 0px 33px;
  position: relative;
}

.owl-carousel-2 .slide {
  width: auto;
  /* padding: 0 14px; */
  margin: 0px 12px 0px 14px;
}

.owl-carousel-2 .slide .box {
  border: 9px solid rgba(230, 255, 230, 0.15);
  height: auto;
}

.owl-carousel-2 .slide .box img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-carousel-2 .owl-dots {
  width: 100%;
  position: absolute;
  left: 0;
}

.owl-carousel-2 .owl-dots span {
  width: 18px !important;
  height: 5px !important;
  border-radius: 0 !important;
}

.owl-carousel-2 .owl-dots button {
  border: none !important;
  outline: none !important;
  margin-top: 24px;
}

.owl-carousel-2 .owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-carousel-2 .owl-prev,
.owl-carousel-2 .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
  background: none !important;
}

.owl-carousel-2 .owl-prev {
  margin-top: 5px;
  left: 0%;
}

.owl-carousel-2 .owl-next {
  right: 0%;
}

/* divider */
.slider-divider {
  margin-top: 70px;
  width: auto;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}
/* mini slider css ends  */

/**********************************
***********************************
********** Media Queries **********
***********************************
**********************************/

/* for desktop and large screen size devices from 1024 and upto  */
@media only screen and (max-width: 1200px) {
  .cards .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*********************************
********** 768 to 1023 ***********
*********************************/
@media only screen and (max-width: 1023px) {
  /* .owl-carousel-2 css starts  */
  .nav-bar-section .search-box {
    padding: 0 3px 0 0px;
  }
  .main-section .left-part {
    width: calc(100% - 302px);
    margin-right: 45px;
  }
  .main-section .side-bar {
    width: 100%;
    margin-top: 50px;
  }
  .post-thumbnail {
    position: relative;
    padding-bottom: 52.1%;
  }
  .side-bar .event-list {
    padding: 18px 10px 26px 21px;
  }

  .owl-carousel-2 {
    padding: 0px 0px 1px 0px;
  }
  .owl-carousel-2 .slide {
    padding: 0 8px;
    margin: 0px 0px 0px 0px;
  }
  .owl-carousel-2 .owl-dots {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  /* .owl-carousel-2 css ends  */

  .cards .row {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards .text {
    padding: 15px 10px 44px 10px;
  }
  .cards .text .desc {
    margin-top: 10px;
  }
  .notification-bar .container {
    padding-top: 16px;
    padding-bottom: 12px;
  }

  .logo-bar .header-buttons a {
    padding: 11px 33px;
  }
  .logo-bar .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-bar-section ul li {
    padding: 20px 22px 22px 20px;
  }
  .nav-bar-section ul li a {
    font-size: 16px;
  }

  .page-title-sec .page-title span {
    font-size: 40px;
    padding-top: 11px;
    padding-bottom: 15px;
  }

  .page-title-sec .reebok-logo {
    padding-top: 11px;
    padding-bottom: 15px;
  }

  .page-title-sec .reebok-logo {
    max-width: 333px;
    transform: skew(-19deg);
  }
  .page-title-sec .reebok-logo img {
    transform: skew(19deg);
    margin-left: 7px;
    margin-top: 5px;
  }
  .page-title-sec .reebok-logo span {
    margin-top: 0px;
    margin-left: -14px;
    transform: skew(19deg);
  }

  /* hero slider css starts  */
  .hero-slider .main-slider-1 {
    padding: 22px 0 74px 0px;
  }
  .hero-slider .main-slider-1 .text {
    padding: 65px 15px 0px 0px;
  }
  .hero-slider .main-slider-1 .text h2 {
    font-size: 40px;
    letter-spacing: -0.2px;
  }

  .hero-slider .main-slider-1 .text p {
    margin-left: 1px;
    margin-top: 19px;
  }
  .hero-slider .main-slider-1 .video-box {
    padding: 32px 0px 32px 0px;
    margin-left: -3px;
  }
  .hero-slider .main-slider-1 .video-box > img {
    max-height: 290px;
  }
  .hero-slider .main-slider-1 .video-box .play-btn {
    padding: 22px 25px 22px 28px;
    margin-left: 20px;
  }
  .hero-slider .arrows {
    display: none;
  }
  .slick-dots {
    bottom: 34px;
  }
  /* hero slider css ends  */

  .main-section .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .main-section .left-part {
    width: 100%;
    margin-right: 0;
  }

  /* zigzag starts  */
  .zigzag:nth-child(2n) .image {
    width: 52%;
    clip-path: polygon(0px 0%, 100% 0%, calc(100% - 0px) 100%, 18% 100%);
  }

  .zigzag:nth-child(2n + 1) .image {
    width: 52%;
  }

  .zigzag .content {
    width: 48%;
    padding: 10px 50px 15px 30px;
  }
  .zigzag .content .title {
    font-size: 20px;
    letter-spacing: -0.2px;
  }
  .zigzag .content.desc {
    font-size: 14px;
    line-height: 1.3;
  }
}
/* Ends Media 1023  */

/* Extra Media Query  */
@media only screen and (max-width: 850px) {
  .nav-bar-section ul li {
    padding: 16px 15px 15px 16px;
  }
  .nav-bar-section ul li a {
    font-size: 15px;
  }
  .nav-bar-section .search-box {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

/* adjust the burger icons */
@media only screen and (min-width: 768px) {
  .logo-bar .navbar-toggler-icon {
    display: none !important;
  }
  #nav-bar {
    display: block !important;
  }
}

/*********************************
********** 320 to 767  ***********
*********************************/
@media only screen and (max-width: 767px) {
  .cards .text {
    padding: 16px 12px 25px 11px;
  }

  .cards .row {
    grid-template-columns: repeat(2, 1fr);
  }

  /* notification-bar css starts */
  .notification-bar .container {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .notification-bar .noti-text {
    padding-left: 0px;
  }

  .notification-bar .noti-text p {
    text-align: left;
    font-size: 12px;
    line-height: 22px;
    padding-left: 0;
  }

  /* logobar css starts  */
  .logo-bar .container {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .logo-bar .brand-logo img {
    max-width: 92px;
  }

  .logo-bar .header-buttons {
    display: none;
  }

  .logo-bar .navbar-toggler-icon {
    display: block;
    margin-top: 3px;
  }

  .logo-bar .navbar-toggler-icon.close {
    display: none;
  }

  /* below btns css starts  */
  .below-btns {
    display: block;
    display: flex;
  }

  /* nav-bar styling starts  */
  #nav-bar {
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 5;
  }

  .nav-bar-section .container {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
    padding: 20px 20px 15px 20px;
  }

  .nav-bar-section .search-box {
    width: 96%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }

  .nav-bar-section .search-box input[type="text"] {
    padding: 10px;
    font-weight: bold;
    width: 100%;
  }

  .nav-bar-section .search-box input[type="submit"] {
    width: 38px;
  }

  .nav-bar-section ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-bar-section ul li {
    transform: skew(0);
    clip-path: polygon(0% 0, 100% 0%, 88% 100%, 0% 100%);
    padding: 20px 30px 22px 20px;
  }

  .nav-bar-section ul li a {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    transform: skew(0);
  }

  .nav-bar-section .search-box {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* header bottom starts  */
  .page-title-sec {
    display: none;
  }

  /* hero slider css starts  */
  .hero-slider .main-slider-1 {
    padding: 30px 0 92px 0px;
  }

  .hero-slider .main-slider-1 .slide {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-slider .main-slider-1 .text {
    max-width: 100%;
    padding: 30px 0px 0px 0px;
    color: #fff;
  }

  .hero-slider .main-slider-1 .text h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.1px;
  }

  .hero-slider .main-slider-1 .text p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.0265em;
    margin-top: 14px;
    margin-left: 3px;
    font-weight: 300;
  }

  .hero-slider .main-slider-1 .video-box {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 15px 0px 0px;
    width: 100%;
  }
  .hero-slider .main-slider-1 .video-box > img {
    max-height: 200px;
  }

  .hero-slider .main-slider-1 .video-box .play-btn {
    padding: 18px 16px 16px 22px;
    margin-left: 10px;
  }
  .hero-slider .main-slider-1 .video-box .play-btn > img {
    max-height: 25px;
  }

  .slick-dots {
    bottom: 45px;
  }

  /* hero slider css ends  */

  /* main section css starts  */
  .main-section .container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  /* zigzag starts  */
  .zigzag:nth-child(2n) {
    display: flex;
    flex-direction: column;
  }

  .zigzag:nth-child(2n) .image {
    width: auto;
    clip-path: none;
    max-height: 200px;
  }

  .zigzag:nth-child(2n + 1) {
    display: flex;
    background: #2b8b4b;
    /* background-image: url(../img/pattern-bg.png); */
    flex-direction: column;
  }
  .zigzag:nth-child(2n + 1) .image {
    width: auto;
    clip-path: none;
    max-height: 200px;
  }

  .zigzag .content {
    width: auto;
    align-items: flex-start;
    padding: 30px 50px 30px 15px;
  }

  /* zigzag ends  */
  /* main section css ends  */
}

/*********************************
********** 320 to 560  ***********
*********************************/
@media only screen and (max-width: 560px) {
  .side-bar .event-list .event .text {
    padding-left: 7px;
  }

  .cards .text .heading {
    padding-right: 20px;
  }
  .owl-carousel-2 .owl-dots {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
  .owl-carousel-2 {
    padding: 0px 0px 0px 0px;
  }

  .hero-slider .main-slider-1 .slide {
    display: flex;
    flex-direction: column;
  }
  .hero-slider .main-slider-1 .text {
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    color: #fff;
  }
  .hero-slider .main-slider-1 .video-box {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px 15px 0px 0px;
    width: 100%;
  }
  .hero-slider .main-slider-1 {
    padding: 34px 0 65px 0px;
  }

  .contact-form {
    padding-top: 32px;
  }
  .contact-form .form-inline {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-form .form {
    width: 100%;
    padding-left: 5px;
    margin-top: 21px;
  }

  .contact-form h2 {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5;
  }
  .contact-form .form-inline {
    grid-gap: 15px;
  }
  .contact-form .gender-sec {
    margin-top: 15px;
  }

  .contact-form .container {
    padding-left: 10px;
  }

  .cards {
    margin-top: 30px;
  }
  .cards .row .post {
    flex: 1;
  }
  .zigzag-wrapper {
    margin-top: 30px;
  }
  .zigzag .content {
    width: 100%;
    padding: 16px 20px 14px 11px;
  }
}

/*********************************
********** 320 to 450  ***********
*********************************/
@media only screen and (max-width: 450px) {
  .cards .row {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .post-thumbnail {
    position: relative;
    padding-bottom: 46.7%;
  }
}
